.App {
  text-align: center;
  padding: 50px;

  display: grid;
  place-items: center;
}

.content {
  margin-top: 64px;
  width: 264px;

  display: grid;
}

.options {
  display: grid;
  place-items: start;

  grid-gap: 12px;
}
