.App {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/* Styles for Home page */
.home-page {
  display: grid;
  place-items: center;
}

/* Text */
.home-page .home-page__title {
  margin: 0;
  margin-bottom: 16px;
}

.home-page .home-page__subtitle {
  margin: 0;
  margin-bottom: 64px;
}

/* Search input, checkbox, button wrapper */
.home-page .home-page__controls {
  width: 264px;
  max-width: 264px;
  display: grid;
  grid-template: 1fr / auto;
  grid-gap: 16px;
}

/* Checkbox wrapper*/
.home-page .home-page__options {
  padding: 0 17px;
  display: grid;
  grid-template: 1fr / auto;
  grid-gap: 12px;
}

/* Styles for Info page */
.info-page {
  width: 100%;
  display: grid;
  grid-template-columns: 474px;
  place-content: center;
}

/* Info page content wrapper */
.info-page .info-page__content {
  display: grid;
  grid-gap: 16px;
}

/* Description list */
.info-page .info-page__list {
  padding: 0;
  padding-left: 40px;
  margin: 0;
  display: grid;
  place-items: start;
  grid-gap: 8px;
}

/* Adaptive */
@media screen and (max-width: 550px) {
  .App {
    padding: 15px;
  }

  /* Home page */

  /* Text */
  .home-page .home-page__title {
    font-size: 40px;
  }

  .home-page .home-page__subtitle {
    font-size: 14px;
  }

  /* Info page */
  .info-page {
    grid-template-columns: 100%;
  }

  /* Description list */
  .info-page .info-page__list {
    padding-left: 15px;
  }

  /* Episodes card */
  .info-page .info-page__card {
    padding: 15px;
  }
}
